#navigationBar {
    display: inline-grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
    width: auto;

}

.link.soactive{
    color: black;
    border: 5px solid grey;
    color: #bababa;
    background-color: var(--gray-700);
}

.link {
    text-align: center;
    position: relative;
    top:3%;
    left: 2%;
    box-sizing: unset;
    width: 130px;
    height: 30px;
    padding: 0.8rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--gray-700);
    border: 2px solid var(--gray-700);
    color: white;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}
