#navigationBar {
    color: #61dafb;
}

.link {
    box-sizing: unset;
    margin-right: 75px;
    width: 140px;
    height: 100px;
    padding: 0.8rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--gray-700);
    border: 2px solid var(--gray-700);
    color: white;
    text-decoration: none;
    font-weight: bold;
}
